<div class="logout-page">
  <h1>Ready to logout?</h1>

  <div class="logout-button">
    <p>Click the button below to end your session.</p>

    <form class="" action="/logout" method="post">
      <input type="submit" class="button" value="Logout">
    </form>
  </div>
</div>
