html, body {
  width: auto;
  height: auto;
  background: white;
  font-family: Raleway;
}

.nav-bar {
  padding-bottom: 25px;
  border-bottom: 1px solid #bdbdbd;
}

.nav-links {
  float: right;
}

.nav-links a {
  padding: 5px;
}

.logo {
  float: left;
}
