<div class="user-home-page">
  <h1 id="user-name">Hi <%= @user.name %>.</h1>
  <h1><span>What would you like to read today?</span></h1>

  <div class="book_list_stats">
    <p><%= @user.book_list_stats %></p>
  </div>

  <div class="next_on_list">
    <% if @user.number_of_books != 0 %>
      <h2>Next on your list:</h2>
      <a href="/books/<%= @user.next_book_id %>"><%= @user.next_on_list %></a>
    <% else %>
      <p><a href="/books/new">Let's add one.</a></p>
    <% end %>
  </div>
</div>
