<div class="welcome-page-content">
  <h1>Welcome to the Reading List</h1>

  <div id="message">
    <h3>Here you can create and store your own reading list where you can: </h3>
  </div>

  <div id="bullets">
    <ul>
      <li>add new books to your list</li>
      <li>edit your books</li>
      <li>view books on your list</li>
      <li>delete books from your list</li>
    </ul>
  </div>
</div>
