<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reading List</title>
</head>
<body>
  <div class="nav-bar">
    <% if !logged_in? %>
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    <% end %>
    <% if logged_in? %>
      <a href="/users/<%= @user.id %>">Home</a>
      <a href="/books/new">Add New Book</a>
      <a href="/books">View Reading List</a>
      <a href="/logout">Logout</a>
    <% end %>
  </div>

  <% if flash[:message] %>
    <p><%= flash[:message] %></p>
  <% end %>

  <%= yield %>



</body>
</html>
