<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reading List</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div id="wrapper">

      <div class="nav-bar">
        <div class="logo">
          <% if !logged_in? %>
            <a href="/">the reading list</a>
          <% elsif logged_in? %>
            <a href="/users/<%= @user.id %>">the reading list</a>
          <% end %>
        </div>
        <div class="nav-links">
          <% if !logged_in? %>
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
          <% end %>
          <% if logged_in? %>
            <a href="/users/<%= @user.id %>">Home</a>
            <a href="/books/new">Add New Book</a>
            <a href="/books">View Reading List</a>
            <a href="/logout">Logout</a>
          <% end %>
        </div>
      </div>

      <% if flash[:message] %>
      <div class="flash-message">
        <p><%= flash[:message] %></p>
      </div>
      <% end %>

      <%= yield %>

    <div class="footer">
      <div class="copyright">
        <p>Tom Banish &copy;</p>
      </div>
    </div>

  </div>
</body>
</html>
